#welcome-visa, #order-code {
  margin: 30px 0px 10px 0px;

  h1 {
    font-family: Helvetica;
    font-size: 40px;
    color: #990AE3;
    letter-spacing: 0;
    line-height: 40px;
    text-transform: uppercase;
  }

  p {
    margin-bottom: 0px;
    font-family: HelveticaNeue;
    font-size: 16px;
    color: #222222;
    letter-spacing: 0;
    line-height: 24px;
  }

  .form-control {
    border-radius: 0px;
    padding: 10px;
  }

  .modal {
    .modal-dialog {
      .modal-header {
        justify-content: center;
        padding: 5%;
        text-align: center;
        background: #00CC66;
        font-size: 34px;
        letter-spacing: 0;
        line-height: 34px;

        .modal-title {
          font-family: HelveticaNeue;
          color: #FFFFFF;
          font-size: 34px;
          text-transform: uppercase;
        }

        .close {
          position: absolute;
          top: 10px;
          right: 15px;
          opacity: 1;
        }
      }

      .modal-body {
        text-align: center;
        padding: 25px;

        .modal-text {
          margin: 10px;

          h2 {
            font-family: HelveticaNeue;
            font-size: 28px;
            color: #222222;
            letter-spacing: 0;
            line-height: 34px;
          }

          p {
            font-family: HelveticaNeue;
            font-size: 16px;
            color: #222222;
            letter-spacing: 0;
            text-align: center;
            line-height: 24px;
          }
        }
      }
    }
  }
}