#order-code
  .container
    %h1 Beställning av ny kod
    %br
    %p Fyll i ditt mobilnummer (format +467XXXXXXXX) så skickar vi en ny kod till dig i ett sms.
    %br
    %p Observera att mms endast lagras här i 10 dagar. Om din kod är mer än 10 dagar gammal finns
    %p ditt mms tyvärr inte kvar.
    %br
    %br
    .row
      .col-md-3.col-xs-12
        %label Mobilnummer
        %input.form-control
    %br
    %button.btn.btn-default.btn-purple.btn-modal Skicka
    %br
    %br
    %p.text-purple Tillbaka

  .modal.fade.bd-example-modal-lg{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %p.modal-title beställning av ny kod
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal"}= image_tag('close_white.png')
        .modal-body
          = image_tag('check_1.png')
          .modal-text
            %h2 En kod har skickats
            %p En ny kod har skickats till din mobiltelefon. Klicka Ok för att gå tillbaka till inloggningssidan.

:javascript
  $('.btn-modal').click(function() {
    $('.modal').modal('show')
  })