<div id="welcome-visa">
    <div class="container">
        <h1>Välkommen till Visa MMS</h1>
        <br>
        <p>Du har fått ett sms om att någon skickat ett mms till dig som inte kan visas i din telefon.</p>
        <br>
        <p>Fyll i ditt mobilnummer (format +467XXXXXXXX) och koden som du fick i sms:et så kan du se</p>
        <p>ditt mms här istället.</p>
        <br>
        <br>
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <label>Mobilnummer</label>
                <div class="error-text">
                    <div class="row">
                        <div class="col-md-1">
                            <img alt="Icon" src="/assets/warning_red.png"/>
                        </div>
                        <div class="col-md-10">
                            <p>Error message. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquam iaculis</p>
                        </div>
                    </div>
                </div>
                <input class="form-control" placeholder="+46 XXX XX XX">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <label>Kod</label>
                <input class="form-control">
            </div>
        </div>
        <br>
        <button class="btn btn-default btn-purple">logga in</button>
        <br>
        <br>
        <p class="text-purple">Jag har glömt min kod</p>
    </div>
</div>