::-webkit-input-placeholder {
  color: #969696;
}

.text-purple {
  color: #990AE3;
  text-decoration: underline;
}

.btn-purple {
  height: 50px;
  width: 120px;
  border-radius: 25px;
  font-size: 14px;
  font-family: HelveticaNeue-Bold;
  color: #FFFFFF;
  background: #990AE3;
  letter-spacing: 0;
  line-height: 41px;
  text-transform: uppercase;
}