@media (max-width: 767px) {
  h1 {
    font-family: HelveticaNeue-Bold;
    font-size: 30px !important;
    line-height: 30px !important;
  }

  .modal {
    .check {
      width: 57px !important;
      height: 57px !important;
    }

    .modal-title {
      margin-top: 30px;
      font-size: 24px !important;
      line-height: 24px !important;
    }

    h2 {
      font-family: HelveticaNeue;
      font-size: 22px !important;
      line-height: 24px !important;
    }
  }
}